In [ ]:
# This code will ignore non harmful warnings
from warnings import filterwarnings
filterwarnings("ignore")

## Hitters

In [ ]:
path1 = r"D:\Captures\ETL HIVE DS Lecture\Python by Utkarsh Sir\Python Basic\Assignment_DataFrames\hitters.csv"
print(path1)

In [ ]:
import pandas as pd
df = pd.read_csv(path1)
df.head()

In [ ]:
df.info()

In [ ]:
pd.set_option("display.max_rows", 350)
pd.set_option("display.max_columns", 30)

### Q1. Find out no of missing values in each columns

In [ ]:
df.isna().sum()

### Q2. Find of people who have batted for more than 400 matches

In [ ]:
df.query("CAtBat > 400") \
    [["Name", "CAtBat"]]

### Q3. Find out the name of the player who has hit max home runs

In [ ]:
df.sort_values(by = "CHmRun", ascending = False) \
    .head(1) \
    [["Name", "CHmRun"]]

### Q4. Find out league wise total number of players

In [ ]:
df["League"].unique()

In [ ]:
df["League"].value_counts()

In [ ]:
df["League"].value_counts().plot(kind = "bar")

In [ ]:
df.groupby(by = "League") \
    .agg({"Name":"count"})

### Q5. Find out division wise total amount of salary invested

In [ ]:
df.columns

In [ ]:
df.groupby(by = "Division") \
    .agg({"Salary":"sum"})

In [ ]:
df.groupby(by = "Division") \
    .agg({"Salary":"sum"}) \
    .plot(kind = "bar")

### Q6. Find out five most senior players

In [ ]:
df.sort_values(by = "Years", ascending = False) \
    .head(5) \
    [["Name", "Years"]]

In [ ]:
df.nlargest(n = 5, columns = "Years")

## Cars93

In [ ]:
path2 = r"D:\Captures\ETL HIVE DS DataSet\Python by Pradnya Ma'am\Python Day 7\cars.csv"
print(path2)

In [ ]:
C = pd.read_csv(path2, na_values = ["", "NA"], keep_default_na = False)
C.head()

In [ ]:
C.info()

### Q1. Find out car having highest Mileage in city

In [ ]:
C.nlargest(n = 1, columns = "MPG.city") \
    [["Manufacturer", "Model", "MPG.city"]]

### Q2. Find out Models of cars which are having Price between 17 and 25

In [ ]:
C.query("Price >= 17 and Price <= 25") \
    [["Manufacturer", "Model", "Price"]]

### Q3. Find out top 7 most fuel economic cars for highway

In [ ]:
C.nlargest(n = 7, columns = "MPG.highway") \
    [["Manufacturer", "Model", "MPG.highway"]]

### Q4. Find out Models of cars having no AirBags and which are of compact type whose price is below 20

In [ ]:
 q = (
     "AirBags == 'None' and "
     "Type == 'Compact' and "
     "Price < 20"
)
print(q)

In [ ]:
C.query(q) \
    [["Manufacturer", "Model", "AirBags", "Type", "Price"]]

### Q5. Find out top 7 most fuel economic cars for city, show results in sorted manner based on Horsepower

In [ ]:
C.nlargest(n = 7, columns = "MPG.city") \
    .sort_values(by = "Horsepower", ascending = False) \
    [["Manufacturer", "Model", "MPG.city", "Horsepower"]]

### Q6. Find out Cars having mileage of more than 15 miles in city

In [ ]:
C.query("`MPG.city` > 15") \
    [["Manufacturer", "Model", "MPG.city"]]

### Q7. Find out Cars with US based origin

In [ ]:
C["Origin"].unique()

In [ ]:
C.query("Origin == 'USA'") \
    [["Manufacturer", "Model", "Origin"]]

### Q8. Find out Cars with no airbags and which are compact in type, from the output retrieve only Model, Mileage in city, Type, AirBags

In [ ]:
C.query("AirBags == 'None' and Type == 'Compact'") \
    [["Model", "MPG.city", "Type", "AirBags"]]

### Q9. Find out cars with Mileagein city more than 15 which are compact in type

In [ ]:
C.query("`MPG.city` > 15 and Type == 'Compact'") \
    [["Manufacturer", "Model", "MPG.city", "Type"]]